* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  font-size: medium;
}

.section1,
.section2,
.section3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

.section1 {
  margin-top: 10vh;
  height: auto;
}

.section2 {
  margin-top: 10%;
  max-width: 300px;
  height: 200px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
}

form button {
  width: 70px;
  display: flex;
  justify-content: center;
  position: relative;
  left: 76%;
}

.separator {
  width: 300px;
  border: 1px solid #999;
  display: block;
  margin: 15px 0;
}

.short {
  width: 150px;
}
