* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.section1,
.section2,
.section3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

.section1 {
  margin-top: 25px;
  height: auto;
}

.books-wrapper {
  list-style: none;
  width: 70vw;
}

.display {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}

.remove {
  text-align: center;
  padding: 2px;
  height: 25px;
  cursor: pointer;
}

.books-wrapper li:nth-child(odd) {
  background-color: #999;
  color: #000;
}

.section2 {
  margin-top: 25px;
  max-width: 300px;
  height: 200px;
}

form {
  display: flex;
  flex-direction: column;
}

.books-wrapper,
.add-btn,
input,
.remove {
  border: 3px solid black;
  text-transform: capitalize;
}

form input {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
}

form button {
  width: 70px;
}

.separator {
  width: 300px;
  border: 1px solid #999;
  display: block;
  margin: 15px 0;
}

.short {
  width: 100px;
}

.add-btn {
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  left: 76%;
}
